header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: inline-block;
    margin-left: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.navigation ul li a:hover {
    color: #555; 
}
.user-info {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid green;
    border-radius: 5px;
    margin-left: 50px;
}

.user-info p {
    margin: 0;
    font-weight: bold;
    color: green;
}

.user-info:hover {
    background-color: green;
}

.user-info:hover p {
    color: white;
}


.employer-site {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid blue;
    border-radius: 5px;
    margin-left: 20px;
}

.employer-site a {
    text-decoration: none;
    color: rgb(12, 12, 191);
}

.employer-site:hover {
    background-color: blue;
}

.employer-site:hover a {
    color: white;
}

.logo {
    display: inline-block;
}

.logo img {
    height: 50px; 
}

.navigation {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    margin-right: 50%; 
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}



.employer-site {
    display: inline-block;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
}


.content {
    padding: 20px;
    margin-top: 20px; 
}


.ha {
    background-image: url('ha.jpg');
    background-size: cover;
    background-position: center;
    height: 550px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.ha p {
    text-align: center;
    color: rgb(18, 16, 16);
    font-size: 16px; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 30%; 
    padding: 50px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px; 
    margin-right: 45%;
    margin-top: 5%;
}

.container {
    width: 80%; 
    max-width: 1500px;
    margin: 20px auto; 
    padding: 20px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.container h2 {
    text-align: center; 
    color: #333; 
}


.additional-container {
    width: 80%; 
    max-width: 1500px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.additional-container h2 {
    text-align: center; 
    color: #333;
}

.position-box,
.image-box {
width: calc(50% - 20px); 
height: 200px; 
margin-right: 20px;
margin-bottom: 20px; 
float: left; 
background-color: #ede8ec; 
border-radius: 10px; 
box-shadow: 0 0 5px rgba(239, 237, 237, 0.1); 
text-align: center; 
}

.image-box {
    width: calc(20% - 20px);
    float: right; 
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}


.image-box img {
    max-width: 50%;
    height: auto;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
footer {
    background-color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: #555;
}