body{
    background-image: url('f.jpg');
    background-size: 100% 150%;
    background-repeat:no-repeat;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

        header {
            background-color: #ffffff;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            border-bottom: 1px solid #ccc;
        }

        .navigation {
            margin-right: auto; /* Align navigation to the right */
            margin-top: 20px;
            font-size: 20px;
        }

        .navigation ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 20px;
        }

        .navigation ul li {
            display: inline-block;
        }

        .navigation ul li a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            transition: color 0.3s;
        }

        .navigation ul li a:hover {
            color: #555;
        }

        .logo img {
            height: 50px;
            width: 50px;
            margin-left: 30px;
        }

        #logout {
            font-size: 15px;
            width: 150px;
            margin-right: 40px;
            margin-top: 10px;
            border: none;
            cursor: pointer;
            background-color: transparent;
        }

        #logout_photo {
            width: 15px;
        }

        .formBox {
    max-width: 600px;
    margin: 150px auto; /* Center the form vertically */
    background-color: rgba(255, 255, 255, 0.8); /* Use rgba for transparency */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9; /* Adjust opacity as needed */
}

        .formBox h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 24px;
            color: #333;
        }

        .field {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box; /* Ensure padding and border are included in width */
            font-size: 16px;
        }

        .field:focus {
            outline: none;
            border-color: #ff6347;
        }

        button[type="submit"] {
            background-color: #ff6347;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover {
            background-color: #e05238;
        }