body {

    margin: 0;
    padding: 0; 
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
}


header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc; 
}

.navigation {
    
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation ul li a:hover {
    color: #555;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

#logout {
    font-size: 20px;
    background-color: #007bff;
    margin-top: -10px;
    font-size: 15px;
    width: 150px;
    margin-right: 40px;
    margin-top: 10px;
    border: none;
}

.left {
    float: left;
    margin-right: 65px;
}

.right {
    float: right;
    margin-right: 65px;
}

#page_logo {
    width: 80px;
    padding-top: 8px;
}

.center {
    text-align: center;
}

.formBox {
    position: relative;
    width: 93%;
    column-width: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Translucent white background */
    transition: transform 0.3s;
    border: 1px solid black; /* Black border */
}

.formBox:hover {
    transform: translateY(-5px);
}
button {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.centerButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.mid_table {
    margin-left: auto;
    margin-right: auto;
}

#shipx {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}

#erpx {
    font-size: 18px;
    color: #555;
}

.formBox {
    position: relative;
    width: 93%;
    column-width: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.3s;
}

.formBox:hover {
    transform: translateY(-5px);
}

#logout:hover {
    background-color: #c82333;
}



#logout_photo
{
    width: 15px; 
    
}


footer {
    background-color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: #555;
}