body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    color: #333;
    padding: 10px;
}

.header a {
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    margin-left: 20px;
    cursor: pointer;
}

.header a:hover
{
    color: rgb(60, 60, 60);
    font-size: 25px;
}

.logo
{
    width: 100px;
}

footer {
    background-color: white;
    color: #2e2d2d;
    padding: 10px;
    text-align: center;
}

.page
{
    font-size: 15px;
    display: inline;
}
.page a:hover{
    color: orange;
    font-size: 20px;
    
}  

.slogan {
    font-size: 15px;
    font-style: italic;
    margin-left: 20px;
    margin: auto;
}
.title {
    font-size: 20px;
    font-weight: bold;
}

.index_container img {
    display: block;
    height: 87.5vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#slideshow img:not(.active) 
{
    display: none;
}

.slide 
{
    position: relative;
}

.text 
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.button 
{
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(218, 211, 211); 
    color: rgb(123, 115, 115);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover 
{
    background-color: rgb(49, 47, 47); 
}

.Acontainer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Bcontainer{
    border: #11112025 solid 2px;
    width: 250px;
    height: 200px;
    padding: 20px;
    color: #52516e;
    margin: 20px;
}
.Bcontainer h3{
    font-size: 25px;
    color: rgb(120,120,120);
}