body {
    background-image: url('3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 160%;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: inline-block;
    margin-right: 50%;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation ul li a:hover {
    color: #555;
}

.sign-in,
.employer-site {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid blue;
    border-radius: 5px;
}

.sign-in a,
.employer-site a {
    text-decoration: none;
    color: rgb(12, 12, 191);
}

.sign-in:hover,
.employer-site:hover {
    background-color: blue;
}

.sign-in:hover a,
.employer-site:hover a {
    color: white;
}

.logo {
    display: inline-block;
}

.logo img {
    height: 50px;
}

.container {
    max-width: 400px;
    margin: 150px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    padding-top: 20px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0056b3;
}

.forget-password {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.forget-password a {
    color: blue;
    text-decoration: none;
}

.forget-password a:hover {
    text-decoration: underline;
}
footer {
    background-color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

footer nav ul li a:hover {
    color: #555;
}