body {
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: white; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: inline-block;
    margin-left: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.navigation ul li a:hover {
    color: #555; 
}

.sign-in,
.employer-site {
    display: inline-block;
    padding: 8px 16px; 
    border: 2px solid blue; 
    border-radius: 5px; 
}

.sign-in a,
.employer-site a {
    text-decoration: none;
    color: rgb(12, 12, 191); 
}

.sign-in:hover,
.employer-site:hover {
    background-color: blue; 
}

.sign-in:hover a,
.employer-site:hover a {
    color: white; 
}

.logo {
    display: inline-block;
}

.logo img {
    height: 50px; 
}

.navigation {
    display: inline-block;
    margin-left: 20px; 
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.sign-in {
    display: inline-block;
    margin-left: auto; 
    margin-right: 20px; 
}

.employer-site {
    display: inline-block;
}

.container {
    max-width: 400px;
    margin: 50px auto;        
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
}

.register-form {
    padding-top: 20px;
    position: relative;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px 35px 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.eye-icon img {
    width: 15px;
    vertical-align: middle;
}

.register-form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.register-form label input[type="checkbox"] {
    margin-right: 10px;
    align-self: flex-start;
}

.register-form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #0056b3;
}
