* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: White;
    color: #333;
    padding: 10px 20px;
}
.logo
{
    height: 50px;
    width: 80px;
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.AdminAcc{
    color: white;
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 130px;
    height: 40px;
    font-size: 15px;
}

.AdminAcc:hover{
    background-color: rgb(187, 180, 180);
}

.aAccBar
{
    display: none;
    position: absolute;
    width: 125px;
    top: 70px; 
    right: 20px; 
    background-color:  white; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.aAccBar a
{
    text-decoration: none;
}
.aAccBar a:hover
{
    color: #a8a8a8;
}
.aAccBar input
{
    width: 90px;
    height: 25px;
    background-color:  white; 
    font-weight: bold;
    border: none;
}
.aAccBar input:hover
{
    color: #a8a8a8;
}

.container {
    display: flex;
}


aside {
    width: 200px;
    background-color: #a8a8a8;
    color: #fff;
}

aside h2 {
    padding: 20px;
    font-size: 1.2em;
}

aside nav ul {
    list-style-type: none;
}

aside nav ul li {
    padding: 10px 20px;
    border: #fff;
    border-bottom: 2px solid ;
}
aside nav ul li a#now{
    color: black;
    font-size: 20px;
}
aside nav ul li a {
    color: #fff;
    text-decoration: none;
}
aside nav ul li a:hover
{
    color: #56549b;
    font-size: 18px;
}
footer 
{
    background-color: white;
    color: #2e2d2d;
    padding: 20px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead
{
    position: sticky;
    top: 0;
}
thead::after
{
    border-bottom: solid 2px;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
th, td 
{
    padding: 10px;
    text-align: center;
}
th 
{
    background-color: #f2f2f2;
}
tr:nth-child(even) 
{
    background-color: #f2f2f2;
}
tr:hover 
{
    background-color: #ddd;
}
h1 
{   
    margin: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Acontainer
{
    border: #9e9e9e solid 2px;
    margin: 20px;
    border-width: thick;
    border-radius: 10px;
    width: auto;
    margin-bottom: 50px;
    background-color: #d4d4db;
    max-height : 60vh;
    overflow-y: auto;
}
main {
    flex: 1;
    height: 92vh;
    max-height: 92vh;
    overflow-y: auto;
}
.aform
{
    margin: 20px;
}
.aform h2
{
    margin-bottom: 15px;
}
.bform
{
    display: flex;
    margin-bottom: 10px;
}
.bform input
{
    border-radius: 5px;
}
.label
{
    width: 175px;
}
#addadmin
{
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    top: 30vh;
    left: 40%;
    border: solid #2e2d2d;
    border-radius: 5px;
}
.addbtn
{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4b4a4d; 
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}
.addbtn:hover,.formbtn:hover
{
    background-color: #2e2d2d;
}
.formbtn
{
    padding: 8px 15px;
    background-color: #4b4a4d; 
    color: #fff;
    font-weight: bold;
    text-align: center;     
    float: right;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.x button
{
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
}
.x button:hover
{
    background-color: red;
}
.alert
{
    color: red;
    font-size: 12px;
    font-weight: bold;
}
.amount
{
    float: right;
}
.delete
{
    float: right;
    text-align: center;
}
.delete button
{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4b4a4d; 
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.delete button:hover
{
    background-color: #2e2d2d;
}
.checkbox
{
    margin-left: 85px;
}
#addadmin input
{
    padding: 5px 10px 5px 10px;
}
